@import "../scss/reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
%flex{
    display: flex;
    justify-content: space-between;
}

body{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400px;
}

@mixin button($width,$height,$radius,$bg){
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: $bg;  
}

@mixin img($position,$top,$left,$index){
  position: $position;
  top: $top;
  left: $left;
  z-index: $index;
}


$red-color: #d80808;
$white-color: #ffffff;


.header {
  display: flex;
  &__left-button {
    @include button(160px, 56px, 27px, $red-color );

    margin: 25px 235px 0px 82px;
  }
  &__nav {
    color: $white-color;
    width: 522px;
    @extend %flex;
    font-size: 18px;

    margin-top: 43px
  }
  &__right-button {
    @include button(172px, 56px, 27px, $red-color );
    color: $white-color;
    margin:26px 60px 0px 206px;
    font-size: 19px;
    font-weight: 900;
  }
}

.graphic-design {
  width: 1437px;
  height: 1090px;
  background: url("../img/grey_background.png") no-repeat center/cover;
  margin: 0 auto;
  position: relative;

  &__girl{
    @include img(absolute, 85px, 379px, 4);
  }
  &__graphic-red{
    @include img(absolute, 279px, 92px, 2);
  }
    &__graphic-dark{
      @include img(absolute, 279px, 87px, 3);
    }
    &__graphic-white{
      @include img(absolute, 279px, 80px, 4);
    }
  
}